{% extends 'basewithnav.html' %} {% block title %}
<title>Management</title>
{% endblock %} {% block contents %}
<div class="notification">
  <div class="navigation2">
    <ul>
      <li>
        <a href="{{url_for('management')}}" class="active">Users </a>
      </li>
      <li>
        <a href="{{url_for('privilages')}}"> Privilages</a>
      </li>
      <li>
        <a href="{{url_for('services')}}"> Services</a>
      </li>
      <li>
        <a href="{{url_for('category')}}"> Category</a>
      </li>
      <li>
        <a href="{{url_for('commission')}}"> Commissions</a>
      </li>
      <li>
        <a href="{{url_for('vendors')}}"> Vendors</a>
      </li>
      <li>
        <a href="{{url_for('variations')}}"> Variations</a>
      </li>
    </ul>
  </div>
  <br />
  <center>
    {% for cat , msg in get_flashed_messages(with_categories=true)%} {% if cat
    == 'error'%}
    <div
      class="alert alert-danger"
      role="alert"
      style="text-shadow: none; font-size: 1rem"
    >
      {{msg}}
    </div>
    {%endif%} {% if cat == 'success'%}
    <div
      class="alert alert-success"
      role="alert"
      style="text-shadow: none; font-size: 1rem"
    >
      {{msg}}
    </div>
    {%endif%} {%endfor%}
  </center>
  <div class="showAllproduct" style="flex-direction: column">
    <br />
    <center>
      <h2>Add/Remove Users</h2>
    </center>
    <div class="row row-cols-3">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button class="btn mybtn" type="button" onclick="add()">
          Add User
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <table
        class="table table-hover table-striped"
        style="text-transform: capitalize"
      >
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for x in emply %}
          <tr>
            <th>
              <img
                src="static/userimage/{{x['image']}}"
                width="50"
                height="50"
              />
            </th>
            <th>{{x['username']}}</th>
            <th>{{x['fullname']}}</th>
            <th style="text-transform: none !important">{{x['email']}}</th>
            <th>{{x['contact']}}</th>
            <th>{{x['address']}}</th>
            <th>{{x['role']}}</th>
            <th>
              <button
                class="btn mybtn"
                type="button"
                onclick="rem(`{{x['id']}}`)"
              >
                Remove
              </button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="mymodal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" id="adduserform" enctype="multipart/form-data">
          <!-- image -->
          <div class="row">
            <div class="col">
              <div class="mb-3 felex">
                <div class="showimage">
                  <label class="form-label-sm" for="image">+</label>
                  <img id="updateimage" src="../static/sleep.jpeg" />
                </div>
              </div>
              <div class="mb-3" id="imageholder">
                <input
                  class="form-control-sm"
                  id="image"
                  name="image"
                  required
                  type="file"
                />
              </div>
            </div>
          </div>
          <!-- username -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control"
                  placeholder="Enter Username"
                />
              </div>
            </div>
          </div>
          <!-- full name -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="fullname" class="form-label">Full Name</label>
                <input
                  type="text"
                  id="fullname"
                  name="fullname"
                  class="form-control"
                  placeholder="Enter Full Name"
                />
              </div>
            </div>
          </div>
          <!-- email -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email ID"
                />
              </div>
            </div>
          </div>
          <!-- contact -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="contact" class="form-label">Contact No.</label>
                <input
                  type="text"
                  id="contact"
                  name="contact"
                  class="form-control"
                  placeholder="Enter Contact Number"
                />
              </div>
            </div>
          </div>
          <!-- address -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="address" class="form-label"
                  >Contact No.Address</label
                >
                <textarea
                  name="address"
                  id="address"
                  cols="30"
                  rows="10"
                  placeholder="Enter Address"
                  class="form-control"
                  style="width: 320px; height: 120px"
                ></textarea>
              </div>
            </div>
          </div>
          <!-- password -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="text"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
            </div>
          </div>
          <!-- role -->
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select name="role" id="role" class="form-select">
                  <option value="" selected disabled>Select Role</option>
                  {% for x in privi %}
                  <option value="{{x['privilage']}}">{{x['privilage']}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="adduser">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#managementlink").addClass("sideactive");
  });
  function add() {
    $("#mymodal").modal("toggle");
  }
  //live show selected image before upload to server
  $(function () {
    $("#image").change(function (event) {
      var x = URL.createObjectURL(event.target.files[0]);
      $("#updateimage").attr("src", x);
    });
  });
  $("#adduser").click(function () {
    $("#adduserform").submit();
  });
  function rem(uid) {
    $.post("/removeUser", { userid: uid }, function (res) {
      if (res == "success") {
        location.reload();
      }
    });
  }
</script>
{% endblock %}
