<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static',filename='sleep.jpeg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='all.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='all.js')}}"></script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    {% block title %}
    {% endblock %}
</head>
<body>
{% block contents %}
{% endblock %}
</body>
</html>