{% extends 'basewithnav.html' %} {% block title %}
<title>Invoicing</title>
{% endblock %} {% block contents %}
<div class="notification">
  <div class="navigation2">
    <ul>
      <li><a href="{{url_for('makeinvoice')}}" class="active"> Create</a></li>
      <li>
        <a href="{{url_for('invoice')}}"> List</a>
      </li>
    </ul>
  </div>
  <div class="addproductform">
    <form method="post" style="width: 100%" id="invoicemaker">
      <input type="hidden" name="totoalrow" id="totoalrow" />
      <center><h2>Customer Details</h2></center>
      <br />
      <div class="row row-cols-4">
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="invid"
              id="invid"
              placeholder="Invoice ID"
              class="form-control-sm"
              value="{{invid}}"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              class="form-control-sm"
              placeholder="Enter Phone Number"
              name="phone"
              id="phone"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              class="form-control-sm"
              placeholder="Customer Name"
              disabled
              id="custname"
              name="custname"
              style="text-transform: capitalize"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input type="date" name="date" id="date" class="form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <textarea
              class="form-control-sm"
              name="address"
              id="address"
              cols="30"
              rows="10"
              placeholder="Address"
              style="height: 70px; width: 348px; text-transform: capitalize"
              disabled
            ></textarea>
          </div>
        </div>
      </div>
      <hr />
      <center><h2>Products</h2></center>
      <br />
      <div class="row row-cols-4" id="appendtoThis">
        <div class="col">
          <div class="mb-3">
            <select
              name="product"
              id="product"
              onchange="getDetails(this.value,this.id)"
              class="form-select-sm"
              style="width: 180px"
            >
              <option selected disabled>Select Product</option>
              {% for x in prods %}
              <option value="{{x['productid']}}">{{x['name']}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="unitprice"
              id="unitprice"
              placeholder="Unit Price"
              value=""
              class="form-control-sm"
              disabled
            />
            <input type="hidden" name="unitpricef" id="unitpricef" />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="quantity"
              id="quantity"
              placeholder="Enter Quantity"
              class="form-control-sm"
              onchange="maketotal(this.value,this.id)"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="totalprice"
              id="totalprice"
              placeholder="Total Price"
              value=""
              class="form-control-sm"
              disabled
            />
            <input type="hidden" name="totalpricef" id="totalpricef" />
          </div>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col"><h3>Grand Total</h3></div>
        <div class="col" id="gtotal">
          <h3><i class="fas fa-rupee-sign"></i> 0</h3>
        </div>
        <input type="hidden" name="gto" id="gto" />
      </div>
      <hr />
      <center><h2>Payment</h2></center>
      <br />
      <div class="row row-cols-3">
        <div class="col">
          <div class="mb-3">
            <select
              name="pmode"
              id="pmode"
              class="form-select-sm"
              style="width: 180px"
              disabled
            >
              <option selected disabled>Select Payment Mode</option>
              <option value="cash">Cash</option>
              <option value="online">Online</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="paid"
              id="paid"
              placeholder="Enter Amount Paid"
              class="form-control-sm"
              disabled
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input
              type="text"
              name="due"
              id="due"
              disabled
              class="form-control-sm"
              placeholder="Amount Due"
            />
            <input type="hidden" name="dues" id="dues" />
          </div>
        </div>
      </div>
      <br />
      <div class="row row-cols-3">
        <div class="col" id="newbtn">
          <button class="btn mybtn" id="confirm" type="submit" disabled>
            Confirm
          </button>
        </div>
        <div class="col" id="newbtn2">
          <button class="btn mybtn" id="addmore">Add More</button>
        </div>
        <div class="col">
          <button class="btn mybtn" id="refresh">Refresh</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- customer not found modal -->
<div class="modal fade" id="mymodal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Customer Not Found</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>The Number You Entered Is Not Registered With Us.</p>
        <br />
        <p>Please Add Customer To Databse</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="regestration">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<!-- customer registration modal -->
<div class="modal fade" id="mymodal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Customer Registration</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" id="customerreg">
          <div class="col">
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                placeholder="Enter Customer Name"
                class="form-control"
                name="name"
                id="name"
              />
            </div>
            <div class="mb-3">
              <label for="name">Phone Number</label>
              <input
                type="text"
                placeholder="Enter Phone Number"
                class="form-control"
                name="phoneno"
                id="phoneno"
              />
            </div>
            <div class="mb-3">
              <label for="gender">Gender</label><br />
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="gender"
                  value="male"
                />
                <label class="form-check-label" for="gender">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="gender"
                  value="female"
                />
                <label class="form-check-label" for="gender">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="gender"
                  value="other"
                />
                <label class="form-check-label" for="gender">Other</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="dob">Date Of Birth</label>
              <input
                timezone="kolkata"
                type="date"
                name="dob"
                id="dob"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label for="custaddr">Address</label>
              <textarea
                name="custaddr"
                id="custaddr"
                cols="30"
                rows="10"
                placeholder="Enter Customer Address"
                class="form-control"
                style="height: 90px"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" id="regester">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    document.getElementById("date").valueAsDate = new Date();

    var productRow = 1;
    $("#totoalrow").val(productRow);

    $("#addmore").click(function (e) {
      e.preventDefault();
      var check = $("#phone").val();
      if (check == "") {
        alert("Enter Phone Number First!");
      } else {
        productRow++;
        $("#totoalrow").val(productRow);
        //first column
        var col = document.createElement("div");
        col.setAttribute("class", "col");
        //mb-3
        var mb = document.createElement("div");
        mb.setAttribute("class", "mb-3");
        //select
        var select = document.createElement("select");
        select.setAttribute("name", "product" + productRow);
        select.setAttribute("id", "product" + productRow);
        select.setAttribute("class", "form-select-sm");
        select.setAttribute("style", "width:180px");
        select.setAttribute("onchange", "getDetails(this.value,this.id)");
        //option
        var option = document.createElement("option");
        option.setAttribute("selected", "");
        option.setAttribute("disabled", "");
        option.innerText = "Select Product";
        select.appendChild(option);
        ("{% for x in prods %}");
        var option = document.createElement("option");
        option.setAttribute("value", "{{x['productid']}}");
        option.innerText = "{{x['name']}}";
        select.appendChild(option);
        ("{% endfor %}");
        mb.appendChild(select);
        col.appendChild(mb);
        document.getElementById("appendtoThis").appendChild(col);
        //second column
        var col = document.createElement("div");
        col.setAttribute("class", "col");
        //mb-3
        var mb = document.createElement("div");
        mb.setAttribute("class", "mb-3");
        //input
        var inputs = document.createElement("input");
        inputs.setAttribute("type", "text");
        inputs.setAttribute("name", "unitprice" + productRow);
        inputs.setAttribute("id", "unitprice" + productRow);
        inputs.setAttribute("placeholder", "Unit Price");
        inputs.setAttribute("class", "form-control-sm");
        inputs.setAttribute("disabled", "");
        mb.appendChild(inputs);
        //input
        var inputs = document.createElement("input");
        inputs.setAttribute("type", "hidden");
        inputs.setAttribute("name", "unitpricef" + productRow);
        inputs.setAttribute("id", "unitpricef" + productRow);
        mb.appendChild(inputs);
        col.appendChild(mb);
        document.getElementById("appendtoThis").appendChild(col);
        //third column
        var col = document.createElement("div");
        col.setAttribute("class", "col");
        //mb-3
        var mb = document.createElement("div");
        mb.setAttribute("class", "mb-3");
        //input
        var inputs = document.createElement("input");
        inputs.setAttribute("type", "text");
        inputs.setAttribute("name", "quantity" + productRow);
        inputs.setAttribute("id", "quantity" + productRow);
        inputs.setAttribute("placeholder", "Enter Quantity");
        inputs.setAttribute("class", "form-control-sm");
        inputs.setAttribute("onchange", "maketotal(this.value,this.id)");
        mb.appendChild(inputs);
        col.appendChild(mb);
        document.getElementById("appendtoThis").appendChild(col);
        //fourth column
        var col = document.createElement("div");
        col.setAttribute("class", "col");
        //mb-3
        var mb = document.createElement("div");
        mb.setAttribute("class", "mb-3");
        //input
        var inputs = document.createElement("input");
        inputs.setAttribute("type", "text");
        inputs.setAttribute("name", "totalprice" + productRow);
        inputs.setAttribute("id", "totalprice" + productRow);
        inputs.setAttribute("placeholder", "Total Price");
        inputs.setAttribute("class", "form-control-sm");
        inputs.setAttribute("disabled", "");
        mb.appendChild(inputs);
        col.appendChild(mb);
        //input
        var inputs = document.createElement("input");
        inputs.setAttribute("type", "hidden");
        inputs.setAttribute("name", "totalpricef" + productRow);
        inputs.setAttribute("id", "totalpricef" + productRow);
        mb.appendChild(inputs);
        col.appendChild(mb);
        document.getElementById("appendtoThis").appendChild(col);
      }
      function redirect() {
        location.href = "/invoice";
      }
    });

    $("#regestration").click(function () {
      $("#mymodal").modal("toggle");
      $("#mymodal2").modal("toggle");
    });

    $("#pmode").change(function () {
      $("#paid").removeAttr("disabled");
      $("#confirm").removeAttr("disabled");
    });

    $("#paid").keyup(function () {
      var amt = parseInt(this.value);
      var gtotal = parseInt($("#gto").val());
      var due = gtotal - amt;
      if (isNaN(due)) {
        due = 0;
      }
      $("#due").val(due);
      $("#dues").val(due);
    });

    $("#confirm").click(function (e) {
      e.preventDefault();
      var getdate = $("#date").val();
      if (getdate == "") {
        alert("Please Select Date");
      } else {
        var myform = document.getElementById("invoicemaker");
        var myformdata = new FormData(myform);
        $.ajax({
          url: "/newInvoice",
          data: myformdata,
          cache: false,
          processData: false,
          contentType: false,
          type: "POST",
          success: function (res) {
            if (res == "success") {
              $("#confirm").remove();
              $("#addmore").remove();
              var bbtn = document.createElement("button");
              bbtn.setAttribute("class", "btn mybtn");
              bbtn.setAttribute("id", "print");
              bbtn.setAttribute("style", "width:100px");
              bbtn.innerText = "Print";
              document.getElementById("newbtn").appendChild(bbtn);
              var bbtn = document.createElement("button");
              bbtn.setAttribute("class", "btn mybtn");
              bbtn.setAttribute("id", "showorders");
              bbtn.setAttribute("type", "button");
              bbtn.setAttribute("onclick", "location.href='/invoice'");
              bbtn.innerText = "Show Invoices";
              document.getElementById("newbtn2").appendChild(bbtn);
            } else {
              alert("Unable To Process This Order now");
            }
          },
        });
      }
    });

    $("#showorders").on("click", function (e) {
      e.preventDefault();
      location.href = "/invoice";
    });

    //make grand total
    setInterval(function () {
      var rows = $("#totoalrow").val();
      if (rows == "1") {
        var price = $("#totalprice").val();
        if (price == "") {
          price = "0";
        }
        $("#gtotal").html(
          '<h3><i class="fas fa-rupee-sign"></i> ' + price + "</h3>"
        );
        $("#gto").val($("#totalprice").val());
      } else {
        var price = $("#totalprice").val();
        if (price == "") {
          price = 0;
        }
        for (var i = 2; i <= rows; i++) {
          var p2 = $("#totalprice" + i).val();
          if (p2 == "") {
            p2 = 0;
          }
          var price = parseInt(price) + parseInt(p2);
        }

        $("#gtotal").html(
          '<h3><i class="fas fa-rupee-sign"></i> ' + price + "</h3>"
        );
        $("#gto").val(price);
      }
    }, 10);

    $("#refresh").click(function (e) {
      e.preventDefault();
      location.reload();
    });

    $("#invoicinglink").addClass("sideactive");

    $("#phone").change(function () {
      var phoneno = $("#phone").val();
      if ($("#phone").val().length == 10) {
        $.post("/getCustomerDetails", { data: phoneno }, function (res) {
          if (res == "error") {
            $("#mymodal").modal("show");
          } else {
            var details = res.split(":");
            $("#custname").removeAttr("disabled");
            $("#custname").val(details[0]);
            $("#address").removeAttr("disabled");
            $("#address").val(details[1]);
          }
        });
      } else {
        alert("Please Enter A Valid Number");
      }
    });
  });

  function getDetails(val, id) {
    var phone = $("#phone").val();
    if (phone == "") {
      alert("Enter Phone Number First!");
    } else {
      $("#pmode").removeAttr("disabled");
      if (id == "product") {
        $.post("/getProd", { data: val }, function (res) {
          $("#unitprice").val(res);
          $("#unitpricef").val(res);
        });
      } else {
        rownum = id.split("product");
        $.post("/getProd", { data: val }, function (res) {
          $("#unitprice" + rownum[1]).val(res);
          $("#unitpricef" + rownum[1]).val(res);
        });
      }
    }
  }

  function maketotal(val, id) {
    if (id == "quantity") {
      var pid = $("#product").val();
      if (pid == null) {
        alert("Select Product First!");
      } else {
        var quantity = val;
        var up = $("#unitpricef").val();
        var total = quantity * up;
        $("#totalprice").val(total);
        $("#totalpricef").val(total);
      }
    } else {
      newid = id.split("quantity")[1];
      var pid = $("#product" + newid).val();
      if (pid == null) {
        alert("Select Product First!");
      } else {
        var quantity = val;
        var up = $("#unitpricef" + newid).val();
        var total = quantity * up;
        $("#totalprice" + newid).val(total);
        $("#totalpricef" + newid).val(total);
      }
    }
  }
  $("#regester").click(function (e) {
    var myform = document.getElementById("customerreg");
    var myformdata = new FormData(myform);
    $.ajax({
      url: "/addCustomer",
      data: myformdata,
      cache: false,
      processData: false,
      contentType: false,
      type: "POST",
      success: function (res) {
        $("#mymodal2").modal("toggle");
        alert(res);
      },
    });
  });
</script>
{% endblock %}
