{% extends 'base.html' %} {% block title %}
<title>LogIn</title>
{% endblock %} {% block contents %}
<div class="loginPage">
  <center><h1>Rever Design LogIn</h1></center>
  <center>
    <img
      src="{{url_for('static',filename='sleep.jpeg')}}"
      style="width: 90px; height: 90px"
    />
  </center>
  <form action="" method="post" class="needs-validation" novalidate>
    {{form.hidden_tag()}}
    <div class="mb-3" style="width: 100% !important">
      {{form.username.label}}
    </div>
    <div class="mb-3" style="width: 100% !important">
      {{form.username(class='form-control')}}
      <div class="invalid-feedback">Please Enter Username</div>
    </div>
    <div class="mb-3" style="width: 100% !important">
      {{form.password.label}}
    </div>
    <div class="mb-3" style="width: 100% !important">
      {{form.password(class='form-control')}}
      <div class="invalid-feedback">Please Enter Password</div>
    </div>
    <div class="mb-3" style="width: 100% !important">
      {{form.submit(class='btn mybtn')}}
    </div>
    <center>
      {% for cat , msg in get_flashed_messages(with_categories=true)%} {% if cat
      == 'error'%}
      <div
        class="alert alert-danger"
        role="alert"
        style="text-shadow: none; font-size: 1rem"
      >
        {{msg}}
      </div>
      {%endif%} {% if cat == 'success'%}
      <div
        class="alert alert-success"
        role="alert"
        style="text-shadow: none; font-size: 1rem"
      >
        {{msg}}
      </div>
      {%endif%} {%endfor%}
    </center>
  </form>
</div>
{% endblock %}
