{% extends 'basewithnav.html' %} {% block title %}
<title>Accounts</title>
{% endblock %} {% block contents %}
<div class="notification">
  <div class="navigation2">
    <ul>
      <li>
        <a href="{{url_for('accounting')}}"> Overview</a>
      </li>
      <li>
        <a href="{{url_for('transactions')}}"> Transactions</a>
      </li>
      <li>
        <a href="{{url_for('newtransaction')}}" class="active"> New</a>
      </li>
      <li>
        <a href="{{url_for('alldues')}}"> Dues</a>
      </li>
    </ul>
  </div>
  <div class="showAllproduct">
    <div class="addproductform">
      <form method="post" style="width: 100%" id="newtransactionform">
        <center>
          <h1 style="color: white; text-shadow: 1px 1px black">
            Add New Transaction
          </h1>
        </center>
        <br />
        <div class="row row-cols-4">
          <div class="col">
            <div class="mb-3">
              <select name="type" id="type" class="form-select-sm">
                <option value="" selected disabled>Select Type</option>
                <option value="debit">Debit</option>
                <option value="credit">Credit</option>
                <option value="due">Due</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <select name="account" id="account" class="form-select-sm">
                <option value="" selected disabled>Select Account</option>
                <option value="recharge">Recharge</option>
                <option value="xerox">Xerox</option>
                <option value="service">Service</option>
                <option value="purchase">Purchase</option>
                <option value="salary">Salary</option>
                <option value="investor">Investor</option>
                <option value="emergency">Emergency</option>
                <option value="refund">Refund</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <input
                type="text"
                class="form-control-sm"
                placeholder="Enter Amount"
                name="amount"
                id="amount"
              />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <input
                type="text"
                placeholder="Enter Name"
                name="customer"
                id="customer"
                class="form-control-sm"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn mybtn" onclick="addEntry()">Add Entry</button>
          </div>
        </div>
        <br />
        <center>
          {% for cat , msg in get_flashed_messages(with_categories=true)%} {% if
          cat == 'error'%}
          <div
            class="alert alert-danger"
            role="alert"
            style="text-shadow: none; font-size: 1rem"
          >
            {{msg}}
          </div>
          {%endif%} {% if cat == 'success'%}
          <div
            class="alert alert-success"
            role="alert"
            style="text-shadow: none; font-size: 1rem"
          >
            {{msg}}
          </div>
          {%endif%} {%endfor%}
        </center>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#accountslink").addClass("sideactive");

    $("#type").change(function () {
      if (this.value == "due") {
        $("#customer").removeAttr("disabled");
      }
    });
  });

  function addEntry() {
    $("#newtransactionform").submit();
  }
</script>
{% endblock %}
