{% extends 'basewithnav.html' %} {% block title %}
<title>Inventory Management</title>
{% endblock %} {% block contents %}
<style>
  input {
    text-align: center;
    text-transform: capitalize;
  }
</style>
<div class="notification">
  <div class="navigation2">
    <ul>
      <li><a href="{{url_for('inventory')}}"> View Products</a></li>
      <li>
        <a href="{{url_for('placeorder')}}" class="active"> Place Order</a>
      </li>
      <li>
        <a href="{{url_for('addmasterdata')}}"> Add New</a>
      </li>
    </ul>
  </div>
  <div class="addproductform">
    <form method="post" style="width: 100%">
      <div class="row row-cols-2">
        <div class="col">
          <div class="mb-3">
            <select
              name="vendor"
              id="vendor"
              class="form-select-sm"
              onchange="findProducts(this.value)"
            >
              <option selected disabled>Select Vendor</option>
              {% for x in vendor %}
              <option value="{{x['seller']}}">{{x['seller']}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <input type="date" name="date" id="date" class="form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover border-white">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Tax</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody id="tbodyproduct">
            <tr>
              <td id="tdproduct">
                <select
                  name="product"
                  id="product"
                  class="nothing form-select-sm"
                  onchange="update(this.value)"
                >
                  <option selected disabled>Please Select Vendor</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          class="btn mybtn"
          id="addRow"
          style="width: 100px; margin-left: 10px"
        >
          Add Row
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    var productRow = 1;

    //heightlight current page link
    $("#inventorylink").addClass("sideactive");

    //add row
    $("#addRow").click(function () {
      productRow++;
      var tr = document.createElement("tr");
      var td = document.createElement("td");
      var select = document.createElement("select");
      var option = document.createElement("option");
      option.innerText = "Select One";
      option.setAttribute("selected", "");
      option.setAttribute("disabled", "");
      select.appendChild(option);
      var vendor = $("#vendor").val();
      $.post("/getProductofSeller", { data: vendor }, function (res) {
        for (var i = 0; i < res["productname"].length; i++) {
          var option = document.createElement("option");
          option.setAttribute("value", res["productname"][i]);
          option.innerText = res["productname"][i];
          select.appendChild(option);
        }
      });
      select.setAttribute("class", "form-select-sm nothing");
      select.setAttribute("id", "product" + productRow);
      select.setAttribute("onchange", "update(this.value)");
      td.appendChild(select);
      tr.appendChild(td);
      document.getElementById("tbodyproduct").appendChild(tr);
    });
  });

  //get details of a selected product when product is selected
  function update(e) {
    $.post("/getSelectedDetails", { data: e }, function (res) {
      for (var i = 0; i < res["quantity"].length; i++) {
        console.log(res["quantity"][i]);
        console.log(res["price"][i]);
        console.log(res["tax"][i]);
      }
    });
  }

  //when vendor is selected we find products specific to that vendor
  function findProducts(vendor) {
    $.post("/getProductofSeller", { data: vendor }, function (res) {
      $("#tdproduct").html(
        "<select name='product' id='product' class='nothing form-select-sm' onchange='update(this.value)'>"
      );
      $("#product").append("<option selected disabled>Select One</option>");
      for (var i = 0; i < res["productname"].length; i++) {
        $("#product").append(
          "<option value=" +
            res["productid"][i] +
            ">" +
            res["productname"][i] +
            "</option>"
        );
      }
    });
  }
</script>
{% endblock %}

<!-- update select field depending on tthe productRow number -->
