{% extends 'basewithnav.html' %} {% block title %}
<title>Management</title>
{% endblock %} {% block contents %}

<div class="notification">
  <div class="navigation2">
    <ul>
      <li>
        <a href="{{url_for('management')}}">Users </a>
      </li>
      <li>
        <a href="{{url_for('privilages')}}" class="active"> Privilages</a>
      </li>
      <li>
        <a href="{{url_for('newtransaction')}}"> Services</a>
      </li>
      <li>
        <a href="{{url_for('alldues')}}"> Category</a>
      </li>
      <li>
        <a href="{{url_for('alldues')}}"> Commissions</a>
      </li>
      <li>
        <a href="{{url_for('alldues')}}"> Vendors</a>
      </li>
      <li>
        <a href="{{url_for('alldues')}}"> Variations</a>
      </li>
    </ul>
  </div>
  <div class="showAllproduct" style="flex-direction: column">
    <br />
    <center>
      <h2>Add/Remove Privilages</h2>
    </center>
    <div class="row row-cols-3">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button class="btn mybtn" type="button" onclick="add()">
          Add Privilage
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <table
        class="table table-hover table-striped"
        style="text-transform: capitalize"
      >
        <thead>
          <tr>
            <th scope="col">Privilage</th>
            <th scope="col">Access Level</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for x in privi %}
          <tr>
            <th>{{x['privilage']}}</th>
            <th>{{x['access']}}</th>
            <th><button class="btn mybtn" type="button">Modify</button></th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <center>
    {% for cat , msg in get_flashed_messages(with_categories=true)%} {% if cat
    == 'error'%}
    <div
      class="alert alert-danger"
      role="alert"
      style="text-shadow: none; font-size: 1rem"
    >
      {{msg}}
    </div>
    {%endif%} {% if cat == 'success'%}
    <div
      class="alert alert-success"
      role="alert"
      style="text-shadow: none; font-size: 1rem"
    >
      {{msg}}
    </div>
    {%endif%} {%endfor%}
  </center>
</div>
<div class="modal fade" id="mymodal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Privilage</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" id="addprivform">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="privilage" class="form-label">Privilage</label>
                <input
                  type="text"
                  name="privilage"
                  id="privilage"
                  class="form-control"
                  placeholder="Enter Privilage Name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="access">Gender</label><br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="access"
                    id="access"
                    value="1"
                  />
                  <label class="form-check-label" for="access">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="access"
                    id="access"
                    value="2"
                  />
                  <label class="form-check-label" for="access">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="access"
                    id="access"
                    value="3"
                  />
                  <label class="form-check-label" for="access">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="access"
                    id="access"
                    value="4"
                  />
                  <label class="form-check-label" for="access">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="access"
                    id="access"
                    value="5"
                  />
                  <label class="form-check-label" for="access">5</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="addpriv">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#managementlink").addClass("sideactive");
  });
  function add() {
    $("#mymodal").modal("toggle");
  }
  $("#addpriv").click(function () {
    $("#addprivform").submit();
  });
</script>
{% endblock %}
