{% extends 'basewithnav.html' %} {% block title %}
<title>Recharge</title>
{% endblock %} {% block contents %}
<div class="notification">
  <div class="navigation2">
    <ul>
      <li>
        <a href="{{url_for('recharge')}}" class="active"> Recharge</a>
      </li>
      <li><a href="{{url_for('rechargelist')}}" > List</a></li>
    </ul>
  </div>
  <div class="addproductform">
    <form method="post" id="rechargeform" class="w-100">
      <h3 style="color: white; text-shadow: 1px 1px black">Recharge</h3>
      <hr />
      <div class="row">
        <div class="col">
          <div class="mb3">
            <label for="number">Number</label>
            <input type="text" class="form-control" placeholder="Enter Number" name="number" id="number">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="carrier">Carrier</label>
            <select name="carrier" id="carrier" class="form-select">
              <option value="" selected disabled>Select Carrier</option>
              {% for x in carrier %}
              <option value="{{x['carrier']}}" style="text-transform:capitalize">{{x['carrier']}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" placeholder="Enter Amount" id="amount" name="amount">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn mybtn" type="submit">Submit</button>
        </div>
      </div>
      </div>
      <br>
      <div class="row">
        <center>
          {% for cat , msg in get_flashed_messages(with_categories=true)%} {% if
          cat == 'error'%}
          <div
            class="alert alert-danger"
            role="alert"
            style="text-shadow: none; font-size: 1rem"
          >
            {{msg}}
          </div>
          {%endif%} {% if cat == 'success'%}
          <div
            class="alert alert-success"
            role="alert"
            style="text-shadow: none; font-size: 1rem"
          >
            {{msg}}
          </div>
          {%endif%} {%endfor%}
        </center>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#rechargelink").addClass("sideactive");
  });
</script>
{% endblock %}
